axis_orbits/axis/__pycache__/
axis_orbits/axis/shelve/
axis_orbits/axis/*.txt
axis_orbits/baby_axis/__pycache__/
axis_orbits/baby_axis/shelve/
axis_orbits/baby_axis/*.txt
axis_orbits/backup/
axis_orbits/zipme.py
axis_orbits/temp/
axis_orbits/certificates/axis_certificate.txt
axis_orbits/certificates/baby_axis_certificate.txt
temp/
__pycache__/
__pycache__
.cache
.eggs
.pytest_cache
*.egg-info
*.pyc
*.pyd
*.o
*.old
*.obj
*~
*.so
*.zip
*.g
*.bak
*.dat
*.dir

